* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --new-white: #f0f0f0;
    --new-red: #be3144;
    --new-blue: #45567d;
    --new-gray: #303841;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 17.28px;
    font-weight: 400;
    line-height: 24.192px;
    color: var(--new-white);
}


#navbar {
    background-color: var(--new-red);
    width: 100%;
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    justify-content: flex-end;
    box-shadow: 0 2px 0 rgba(0 0 0 / 40%);
    z-index: 3;
}


#navbar ul {
    display: flex;
    list-style: none;
    margin-right: 19.2px;
}


#navbar ul li a {
    display: block;
    text-decoration: none;
    font-size: 21.12px;
    padding: 19.2px;
    color: var(--new-white);
}

#navbar ul li a:hover {
    background-color: var(--new-blue);
}

#welcome-section {
    width: 100%;
    height: 100vh;
    background-color: #000;
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 45px;
}

#welcome-section h1 {
    font-size: 57.6px;
    font-weight: 700;
    text-align: center;
}

#welcome-section p {
    font-size: 28.8px;
    font-weight: 200;
    font-style: italic;
    color: var(--new-red);
}

#projects {
    width: 100%;
    text-align: center;
    padding: 92.8px 18.56px;
    background-color: var(--new-blue);
}

#projects h2 {
    max-width: 640px;
    margin: 0 auto 55.68px auto;
    border-bottom: 2px solid var(--new-white);
    font-size: 38.97px;
    font-weight: 600;
    padding-bottom: 16px;
}

a {
    text-decoration: none;
    color: var(--new-white)
}

#project .grid .project-tile a {
    width: 100%;
    height: 100%;
}

#projects .grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(320px, 1fr));
    gap: 32px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 64px;
}

#projects .grid .project-tile {
    background-color: var(--new-gray);
    box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    border-radius: 2px;
}

#projects .grid .project-tile img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 80%;
}

#projects .grid .project-tile a .project-hov {
    visibility: hidden;
}


#projects .grid .project-tile a:hover .project-hov{
    visibility: visible;
    color: rgb(245, 161, 7);
    margin: 0 5px;
}

#projects .grid .project-tile a p {
    font-size: 22px;
    padding: 8px 2px;
    height: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--new-white);
}

#projects .show-all {
    font-size: 22px;
    background-color: var(--new-gray);
    padding: 5px 10px;
    border-radius: 2px;
    color: var(--new-white)
}

#projects .show-all .span-show-all {
    font-weight: bolder;
    margin-right: 3px;
    font-size: 24px;
}

#projects .show-all:hover {
    background-color: var(--new-red);
}

#contact{
    background-color: var(--new-gray);
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact h2{
    margin: 0;
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
    margin-bottom: 32px;
    line-height: 50px;
}

#contact p {
    font-style: italic;
    flex-shrink: 0;
}

#contact .contact-flex {
    display: flex;
    margin-top: 32px;
    flex-wrap: wrap;
    gap: 32px;
    width: 100%;
    justify-content: center;
}

#contact .contact-flex .contact-item {
    display: flex;
    justify-content: center;
    gap: 5px;
    transition: transform 0.3s ease-out;
}

#contact .contact-item p {
    font-size: 24px;
}

#contact .contact-flex .contact-item:hover {
    transform: translateY(8px);
}